body {
  text-align: center;
  background-color: rgb(243, 243, 243);
}

.collapseContent {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  table, th, td {
    border: 1px solid black;
    background-color: white;
    background-color: rgb(176, 223, 255);
  }

  table {
    width: 100%
  }
  td {
    text-align: center;
  }
  li {
    padding: 5px;
    list-style-type: none;
  }
  /* .flexButts{
    display: flex;
    flex-direction: column;
    align-items: stretch;
  } */
  .flexButtItem {
    display: flex;
    flex-direction: column;
    margin: 10px auto
  }
  .button {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
  .button:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
  }

  #userContainer {
    width: 350px;
    margin: 20px auto 20px auto;
    text-align: center;
    border: 2px solid black;
    background-color: rgb(176, 223, 255);
  }

  #eventContainer {
    width: 500px;
    margin: auto;
    text-align: center;
    border: 2px solid black;
    padding: 0px 0px 15px;
    background-color: rgb(176, 223, 255);
  }

  h1 {
    text-align: center;
  }

  h3 {
    font-weight: 100;
    font-style: italic;
  }

  h4 {
    text-align: center;
    margin: 10px auto 10px;
  }

  .collapsible {
    padding: 10px;
    margin: 20px auto 20px auto;
  }

  textarea {
    font-family: Arial;
    width: 230px;
    height: 18px;
  }

  .betsDiv select, .betsDiv label {
    vertical-align: top;
  }